body {
    background-color: black;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

h1 {
    padding: 10px;
    font-size: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 15px;
}


/* Navigation Bar */
.nav {
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.nav #links {
    display: none;
    
}

.nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.logo {
    margin-bottom: 4px;
}

.nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav a:hover {
    color: blueviolet;
}

.navbar {
    background-color: black;
}


/* Image Slideshow */
* {box-sizing: border-box;}

.mySlides {display: none;}

img {vertical-align: middle;}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: blueviolet;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* Image Slider */
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg)
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/* Footer */
.footer {
    background-color: black;
    padding: 5px;
}
.footer img {
    float: center;
    padding: 10px;
    width:50px;
    transition: transform .2s;
}

.footer img:hover {
    transform: scale(1.5);

}