body {
    background-color: black;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navigation Bar */
.nav {
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.nav #links {
    display: none;
    
}

.nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.logo {
    margin-bottom: 4px;
}

.nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav a:hover {
    color: blueviolet;
}

.navbar {
    background-color: black;
}

/* Image Slideshow */
* {box-sizing: border-box;}

.mySlides {display: none;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: blueviolet;
}

/* Fading Animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
